.ajout {
	background-color: #AFCB37;
	color: white;
	float: right;
}

.ajout:hover {
	background-color: #ddd;
	color: black;
}

.card-body {
	margin: auto;
	max-width: 300px;
	max-heidth: 300px;
}

.article img {
	max-heigth: 200px;
	max-width: 300px;
	margin: auto;
}

