<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- http://localhost:8081/tdweb/ -->
	<display-name>tdweb</display-name>

	<!-- Liste des fichiers d'acceuil de l'application -->
	<!-- Si trouve pas un fichier prend le suivant qui est répertorié dans cette 
		liste -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- Déclaration de la servlet Hello -->
	<servlet>
		<servlet-name>Hello</servlet-name>
		<!-- <description>Servlet de test Hello</description> -->
		<servlet-class>td.servlet.Hello</servlet-class>
	</servlet>

	<!-- Mapping servlet Hello -->
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hello</servlet-name>
		<url-pattern>/Hello/*</url-pattern>
	</servlet-mapping>

	<!-- Déclaration de la servlet HelloConfig -->
	<servlet>
		<servlet-name>HelloConfig</servlet-name>
		<servlet-class>td.servlet.HelloConfig</servlet-class>
		<init-param>
			<param-name>lang</param-name>
			<param-value>fr</param-value>
		</init-param>
	</servlet>

	<!-- Mapping servlet HelloConfig -->
	<servlet-mapping>
		<servlet-name>HelloConfig</servlet-name>
		<url-pattern>/HelloConfig</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelloConfig</servlet-name>
		<url-pattern>/HelloConfig/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/css/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/js/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/img/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/webjars/*</url-pattern>
	</servlet-mapping>

</web-app>